<!DOCTYPE html>
<html>

<head>
  <title>Auckland</title>
  <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/auck" target="_blank">Auckland</a>
    <a href="/beaches">Beaches</a>
    <a aria-disabled="true">Disabled</a>
  </nav>

  <h4>Auckland</h4>
  <p>
    Auckland has a population of more than 1 million people.
  </p>
  <p>
    Thousands of students have graduated from <a href="http://futureskills.co.nz">Future Skills Academy</a> which has
    campuses in
    the Auckland CBD, Manukau, Royal Oak, and Takapuna.
  </p>
</body>

</html>