<!DOCTYPE html>
<html>

<head>
  <title>Auckland</title>
  <%- include('partials/header1.ejs')%>
</head>

<body>
  <%- include('partials/navbar1.ejs')%>
    <div class="container p-3 my-3 bg-dark text-white">
      <h2>Auckland</h2>
      <img class="img2" src="/public/images/auckland.jpg" alt="Auckland Skyline at night.">
      <p>
        New Zealand is a peaceful country
      </p>
      <p style="color: #bab6c7;">
        Thousands of students have graduated from <a href="http://futureskills.co.nz">Future Skills Academy</a> which
        has campuses in the Auckland CBD, Manukau, Royal Oak, and Takapuna.
        Any random text Lorem lalak asdjfb Any random text Lorem lalak asdjfb Any random text Lorem lalak asdjfb
        Any random text Lorem lalak asdjfb Any random text Lorem lalak asdjfb Any random text Lorem lalak
        asdjfbAny random text Lorem lalak asdjfb Any random text Lorem lalak asdjfb Any random text Lorem lalak
        asdjfb Any random text Lorem lalak asdjfb
      </p>
      <p style="color: #bab6c7;">Auckland is the commercial hub of <a href="/">New Zealand</a></p>
    </div>
</body>

</html>