<!DOCTYPE html>
<html>

<head>
  <title>Beaches</title>
  <%- include('partials/header1.ejs')%>
</head>

<body>
  <%- include('partials/navbar1.ejs')%>
    <div class="container p-3 my-3 bg-dark text-white">
      <h2>Beaches</h2>
      <img class="img2" src="/public/images/fakeOrewa.jpg" alt="Orewa Beach">
      <p>
        Orewa beach is...
      </p>
      <p style="color: #beb8cd;">
        Any random text Lorem lalak asdjfb Any random text Lorem lalak asdjfb Any random text Lorem lalak asdjfb Any
        random text Lorem lalak asdjfb Any random text Lorem lalak asdjfb Any random text Lorem lalak asdjfbAny random
        text Lorem lalak asdjfb Any random text Lorem lalak asdjfb Any random text Lorem lalak asdjfb Any random text
        Lorem lalak asdjfb
      </p>
    </div>

</body>

</html>