<!DOCTYPE html>
<html>

<head>
    <title>HTML Tutorial</title>
    <%- include('partials/header1.ejs')%>
</head>

<body>
    <%- include('partials/navbar1.ejs')%>

    <% if (session.user) { %>
        <p>Welcome, <%= session.username %>!</p>
      <% } else { %>
        <p>Please log in.</p>
      <% } %>
        <div class="container p-3 my-3 bg-dark text-white">
            <h2>New Zealand</h2>
            <img class="img2" src="/public/images/bridal-veil-falls-hero.jpg" alt="Bridal Veils Falls">
            <p>
                New Zealand is a peaceful country
            </p>
            <p style="color: #bab6c7;"><a href="auck">Auckland</a> is the commercial hub of New Zealand</p>
            <p style="color: #bab6c7;">
                Any random text Lorem lalak asdjfb Any random text Lorem lalak asdjfb Any random text Lorem lalak asdjfb
                Any random text Lorem lalak asdjfb Any random text Lorem lalak asdjfb Any random text Lorem lalak
                asdjfbAny random text Lorem lalak asdjfb Any random text Lorem lalak asdjfb Any random text Lorem lalak
                asdjfb Any random text Lorem lalak asdjfb
            </p>
        </div>
</body>

</html>