<!DOCTYPE html>
<html>

<head>
    <title>HTML Tutorial</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body>

    <h1>New Zealand</h1>
    <p>New Zealand is a beautiful country</p>
    <h2>South Island</h2>
    <h4>Christchurch</h4>
    <h4>Dunedin</h4>
    <h2>North Island</h2>
    <h4><a href="auck" style="font-size: xx-large; font-style: normal;">Auckland City</a></h4>
    <h4>Wellington</h4>
    <a href="http://futureskills.co.nz" target="_blank">Future Skills Academy</a>


</body>

</html>