<!DOCTYPE html>
<html>

<head>
    <title>HTML Tutorial</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/auck" target="_blank">Auckland</a>
        <a href="/beaches">Beaches</a>
        <a aria-disabled="true">Disabled</a>
    </nav>        
    <h4>This is the Home Page.</h4h4>

</body>

</html>